@model CRUDclientes.Models.proveedor

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Editar Proveedor</h4>

            </div>
            <div class="panel-body">
                <form action="@Url.Action("Editar","proveedor")" method="post">
                    <input type="hidden" class="form-control" name="Id_Proveedores" value="@Html.DisplayTextFor(m =>m.Id_Proveedores )" />
                    <div class="form-group">
                        <label>Razon Social</label>
                        <input type="text" class="form-control" name="Razon_Social" value="@Html.DisplayTextFor(m =>m.Razon_Social )" />
                    </div>
                    <div class="form-group">
                        <label>Sector commercial</label>
                        <input type="text" class="form-control" name="Sector_Comercial" value="@Html.DisplayTextFor(m =>m.Sector_Comercial )" />
                    </div>
                    <div class="form-group">
                        <label>RUC</label>
                        <input type="text" class="form-control" name="RUC" value="@Html.DisplayTextFor(m =>m.RUC )" />
                    </div>
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" class="form-control" name="Direccion" value="@Html.DisplayTextFor(m =>m.Direccion )" />
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" class="form-control" name="Telefono" value="@Html.DisplayTextFor(m =>m.Telefono )" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="Email" value="@Html.DisplayTextFor(m =>m.Email )" />
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        <input type="text" class="form-control" name="URL" value="@Html.DisplayTextFor(m =>m.URL )" />
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-warning" href="@Url.Action("Inicio","proveedor")">Volver</a>

                </form>



            </div>

        </div>

    </div>


</div>